@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

/* The part of the main landing part */

.main-landing {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* The part of the main slider */

.row {
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 2em;
}

.slider {
    max-width: 95% !important;
}

.carousel-inner {
    width: 43em !important;
    max-width: 100% !important;
    border-radius: 10px !important;
}

.carousel-item {
    width: 43em !important;
    height: 100% !important;
    max-width: 100% !important;
    border-radius: 10px !important;
    position: relative;
    ;
}

.slider-image {
    max-width: 100% !important;
    border-radius: 10px;
}

@media screen and (max-width:482px) {
    .row {
        margin-top: 0;
    }
    .carousel-inner {
        border-radius: 0px !important;
    }
    .carousel-item {
        border-radius: 0px !important;
    }
    .slider-image {
        height: 20em !important;
        margin-top: 1em !important;
    }
}


/* The part of the main information about doctor */

.info {
    margin-top: 2em;
    max-width: 95%;
    width: 40em;
    padding: 1em;
    border: solid .05em #cedadb;
    border-radius: 4px;
    background-color: #DFEFF1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-title {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 102%;
    text-align: center;
}

.advanced-info {
    width: 23em !important;
    min-height: 2.4em !important;
    height: 100% !important;
}

.main-info-about-doctor {
    width: 100%;
    padding: 1em 0 0 0;
}


/* The part of the updates part */

.new-updates {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 43em;
    min-height: 27em;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-update-parts {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width:698px) {
    .updates-slider {
        margin-left: .6em
    }
    .new-updates-title {
        font-size: .85em !important;
    }
    .updates-aknowleadgment {
        font-size: .7em !important;
    }
    .update-slider {
        width: 16em !important
    }
    .new-service-announsment {
        left: 1em !important;
    }
}

@media screen and (max-width:576px) {
    .new-updates-title {
        font-size: .73em !important;
    }
    .update-slider {
        width: 15em !important
    }
    .new-service-announsment {
        left: .5em !important;
    }
}

@media screen and (max-width:555px) {
    .main-update-parts {
        flex-direction: column !important;
    }
    .updates-description {
        width: 30em !important;
        max-width: 95% !important;
    }
    .new-updates-title {
        max-width: 80% !important;
        font-size: .85em !important;
    }
    .updates-slider {
        margin-left: 0 !important;
        margin-top: 2em;
        width: 27.5em;
        max-width: 100% !important;
    }
    .update-slider {
        width: 27.5em !important;
        max-width: 100% !important;
    }
    .main-image {
        border-radius: 4px !important;
        max-width: 95% !important;
        margin-left: .4em !important;
    }
    .new-service-announsment {
        width: 95% !important;
        max-width: 100% !important;
    }
}

@media screen and (max-width:372px) {
    .new-updates-title {
        height: 100% !important;
    }
}


/* The part of the updates descriptions */

.updates-description {
    width: 20em;
    min-height: 23em;
    border: solid .05em #cedadb;
    border-radius: 4px;
    background-color: #DFEFF1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.updates-title {
    flex: .5;
    margin-top: .5em;
    font-size: 20px;
    font-family: 'Alata', sans-serif;
    word-break: break-word;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.new-updates-title {
    font-size: 1em;
    width: 95%;
    min-height: 2.5em;
}

.updates-aknowleadgment {
    flex: 1;
    width: 100%;
    margin-top: .5em;
    font-size: 13.5px;
    font-family: 'Alata', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.updates-list {
    min-height: 7em;
    font-size: 23px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.updates-border {
    min-height: 3.5em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 71%;
    border-radius: 10px;
}

.updates-announsment {
    margin-top: 1em;
    font-size: 19px;
    text-align: center;
}

.new-service {
    font-family: 'Alata', sans-serif;
}

.new-service-link {
    color: #000000
}

.new-service-link:hover {
    color: #000000
}

.ads-text {
    flex: 1;
    font-size: 18px;
    font-family: 'Alata', sans-serif;
}


/* The part of the updates slider */

.update-carousel-item {
    height: 23em !important;
}

.update-slider {
    width: 18em;
    min-height: 23em;
}

.main-image {
    z-index: 500;
    width: 18em;
    height: 23em;
}

.new-service-announsment {
    width: 14em;
    height: 8.8em;
    z-index: 1000;
    top: -9em;
    left: 2em;
    color: #ffffff;
    background-color: rgb(0, 0, 0, .8);
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image-button {
    margin-top: .5em;
    border: 0;
}