/* The part of the main block */

.about {
    max-width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 47em;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0);
}

@media screen and (min-height: 1080px) {
    .about {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

@media screen and (min-height: 945px) {
    .about {
        margin-bottom: 4em;
    }
}

@media screen and (min-height: 980px) {
    .about {
        margin-bottom: 6em;
    }
}

@media screen and (max-width:781px) {
    .about {
        flex-direction: column;
        margin: 0 !important;
    }
    .button-to-return {
        margin-left: -1em !important;
        align-self: center !important;
        text-align: start;
    }
}

@media screen and (max-width: 254px) {
    .button-to-return {
        font-size: .8em !important;
    }
}

@media screen and (max-width: 222px) {
    .button-to-return {
        font-size: .7em !important;
    }
}


/* The part of the service image */

.service-image {
    max-width: 95%;
    width: 45em;
    height: 100%;
    margin-top: 1em;
    margin-right: 1em;
    margin-top: 2em;
    align-self: flex-start;
}

@media screen and (max-width:781px) {
    .service-image {
        margin-right: 0em;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .desc {
        min-height: 27em !important;
        margin-left: 0em !important;
    }
    .service-title {
        justify-content: center !important;
        align-items: center !important;
    }
    .service-price {
        justify-content: center !important;
        align-items: center !important;
    }
    .title {
        margin-left: 0em !important
    }
}

.service-img {
    max-width: 100%;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

@media screen and (max-width:781px) {
    .service-img {
        width: 35em !important;
        height: 33em !important
    }
}

@media screen and (max-width: 515px) {
    .service-img {
        height: 29em !important;
    }
}

@media screen and (max-width: 414px) {
    .service-img {
        height: 27em !important;
    }
}

@media screen and (max-width: 382px) {
    .service-img {
        height: 25em !important;
    }
}

@media screen and (max-width: 329px) {
    .service-img {
        height: 23em !important;
    }
}

@media screen and (max-width: 296px) {
    .service-img {
        height: 21em !important;
    }
}

@media screen and (max-width: 251px) {
    .service-img {
        height: 19em !important;
    }
}

.help-text {
    margin-top: 1.4em;
    margin-bottom: .5em;
    color: grey;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button-to-return {
    font-size: .9em;
    margin-bottom: 2em;
    margin-left: 3em;
    align-self: flex-start;
    text-align: start;
}

.link-to-return {
    margin-left: .4em;
    color: #000000
}

.link-to-return:hover {
    color: grey;
    text-decoration: underline;
}

@media screen and (max-width:319px) {
    .link-to-prev {
        font-size: .9em
    }
}

@media screen and (max-width:289px) {
    .link-to-prev {
        display: none;
    }
    .button-to-return {
        align-self: flex-start !important;
        margin-left: 1em !important;
    }
}

@media screen and (max-width:246px) {
    .link-to-return {
        display: none;
    }
}


/* The part of the info about the service */

.service-info {
    max-width: 100%;
    width: 24em;
    min-height: 30em;
}

.desc {
    max-width: 100%;
    min-height: 40em;
    margin-top: 1em;
    margin-left: 1em;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* The part of the description of the service */

.service-desc {
    flex: 5;
    max-width: 100%;
    margin-top: 1em;
    width: 42em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-title {
    width: 100%;
    flex: 1;
    max-width: 100%;
    font-size: 1.7em;
    height: 100%;
    min-height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
}

@media screen and (max-width:456px) {
    .service-title {
        justify-content: center;
        align-items: center;
    }
    .title {
        margin-left: 0 !important;
        font-size: 1.2em !important
    }
    .service-price {
        margin-top: 1em !important;
        font-size: 1.1em !important;
        justify-content: center !important;
    }
    .service-desription {
        margin-top: 1em !important
    }
}

@media screen and (max-width:300px) {
    .service-price {
        font-size: .85em !important;
    }
}

.service-desription {
    flex: 7;
    width: 100%;
    height: 100%;
    max-width: 96%;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
}

.service-price {
    flex: 0;
    font-size: 1.25em;
    width: 100%;
    max-width: 97%;
    border-top: solid .06em grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    max-width: 100%;
    font-weight: bold;
    text-align: center;
    word-break: break-word;
}

.description {
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 100%;
    height: 100%;
    font-weight: bold;
    word-break: break-word;
}

.price {
    text-align: center;
    margin-right: .6em;
    font-weight: bold;
}

.callforhelp-link {
    color: grey;
}

.callforhelp-link:hover {
    text-emphasis: none;
    color: grey;
}


/* The part of the recording mechanism */

.recording-button {
    flex: 1;
    max-width: 100%;
    margin-top: .8em;
    margin-bottom: .4em;
    width: 15em;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.made-record-a {
    color: #ffffff;
    text-decoration: none
}

.made-record-a:hover {
    color: #ffffff;
    text-decoration: none
}

.menu {
    max-width: 100%
}

.modal-dialog {
    max-width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.modal-content {
    max-width: 100% !important;
    width: 35em !important;
    align-self: center !important;
}

.modal-header {
    max-width: 100% !important;
}

.modal-body {
    max-width: 100% !important;
}


/* The part of the record-form */

.red-button {
    min-width: 9.5em !important;
    margin-right: .4em !important;
}

.green-button {
    width: 10em !important;
}