{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
Учётная запись
{% endblock title%}
{% block link%} 
<link rel="stylesheet" href="{% static "css/account29.css"%}">
{% endblock link %}
{% block content %}
<div class="articles">
    <div class="everything">
        <div class="main-info">
            {% if form is not None %}
            <div class="auth-part">
                <div class="need-auth-text">
                    <div class="info-text auth-text">Для продолжения роботы требуеться пройти авторизацию</div>
                </div>
                <div class="user-auth-form-parent">
                    <form class="user-auth-form" method="POST">
                        {% csrf_token %}
                        {{form.username}}
                        {{form.password}}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="check" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Вход по умолчанию</label>
                        </div>
                        <div style="display:flex;justify-content:center;align-items:center">
                            <button style="height:2.5em;margin-top:1em;border:0px;color:#ffffff" type="submit" class="orange-button">Ввойти</button>
                        </div>
                        <div class="auth-social-media">
                            <a href="{% url 'social:begin' 'facebook' %}"><img width="50em" src="{% static 'favicon/facebook.png' %}"></a>
                            <a href="{% url "social:begin" "google-oauth2" %}"><img width="50em" src="{%static 'favicon/au-google.png' %}"></a>
                        </div>
                        <div class="tips">                
                            <div>Забыли пароль?|</div>
                            <div><a href="{% url "Reg" %}" style="text-decoration:none;color:#000000;max-width:95%">Зарегестрироваться!</a></div>
                        </div>
                    </form>
                </div>
            </div>
            {% else %}
            
            <div class="info-block">
                <div class="info-text">
                    <span>Карточка клиента</span>
                </div>
            </div>
            <div class="about-block">
                {% for name,data in user_data %}
                    <div class="about">
                        <div class="about-title">
                            <span>{{name}}</span>
                        </div>
                        <div class="about-text">
                            <span>{{data}}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            {% endif %}
        </div>    
        <div class="info">
            <div class="devided-line"></div>
            <div class="record-area-title">История записей</div>
            <div class="record-area-line-parent">
                <div class="record-area-line"></div>
            </div>
            <div class="cards">
                {% if form is None%}
                    {% for record in records %}
                        <div class="card">
                            <div class="card-header">
                                <div class="name_of_service">Услуга: {{record.name}}</div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{record.description}}</p>
                                <div class="status-bar-line"></div>
                                {% if record.seen %}
                                    <p>Статус заявки: <span class="record-text">Просмотрено</span></p>
                                {% else %}
                                    <p>Статус заявки: <span class="record-text">Отослано</span></p>
                                {% endif %}
                                
                                {% if record.status %}
                                    <p>Статус выполнения: <span class="record-text">Завершено</span></p>
                                    <div class="button-div">
                                        <button type="button" class="rec-button-disabled"><span title="Вы не можете удалить запись так как сеанс уже был">Удалить запись</span></button>
                                    </div>
                                {% else %}
                                    <p>Статус выполнения: <span class="record-text">Неизвестно</span></p>
                                    <div class="button-div">
                                        <a href="{% url 'DeleteRecord' pk=record.pk %}"><button type="button" class="red-button">Удалить запись</button></a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% empty %}
                    {% if made_records and made_records is not None %}
                    <div class="empty-message-area">
                        <h2 class="big-text">Ваш архив пуст</h2>
                    </div>
                    {% else %}
                    <div class="empty-message-area">
                        <h2 class="big-text">У вас пока не было записей</h2>
                        <a class="orange-button" href="{% url 'Services' %}">Записаться впервые!</a>
                    </div>
                    {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="empty-message-area">
                        <h2 class="big-text">Вы не авторизованы!</h2>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}