{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}
{% load filterandtag %}
{% block link%}
<link rel="stylesheet" href="{% static 'css/landing21.css' %}"> 
{% endblock link %}
{% block title %}
{% trans 'Домашняя страница'%}
{% endblock %} 
{% block content %}
<div class="articles">

    <!-- The part of the main landing -->

    <div class="main-landing">

        <!-- The part of slider -->
        <div class="row">
            <div id="carouselExampleInterval" class="carousel slide slider" data-ride="carousel">
                <div class="carousel-inner">
                    {% if visit_images %}
                    <div class="carousel-item active" data-interval="10000">
                        <img class="slider-image" width="900em" height="430em" src={% static 'media/'|add_picture:first_visit_image.visit_image%} class="d-block w-100 images" alt="...">
                    </div>
                    {% for visit_image in visit_images %}
                        <div class="carousel-item" data-interval="10000">
                            <img class="slider-image" width="900em" height="430em" src={% static 'media/'|add_picture:visit_image.visit_image%} class="d-block w-100 images" alt="...">
                        </div>
                    {% endfor %} 
                    {% else %}
                    <div class="carousel-item active" data-interval="10000">
                        <img class="slider-image" width="900em" height="430em" src={% static 'media/visitimages/null.jpg'%} class="d-block w-100 images" alt="...">
                    </div>
                    {% endif %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Назад</span>
                </a>
                <a style="left:85%" class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Далее</span>
                </a>
            </div>
        </div>

        <!-- The part of some information about doctor -->
        <div class="info">
            <div class="text-title">
                <div class="info-text advanced-info">{% trans 'Вас приветствует массажный салон Emassage!'%}</div>
            </div>
            <div class="main-info-about-doctor">
                {{info_about_doctor}}
            </div>
        </div>
    </div>

    <!-- Updates part -->
    <div class="new-updates">
        <div class="main-update-parts">

            <!-- The part of updates description-->
            <div class="updates-description">
                <div class="updates-title"><div class="info-text new-updates-title">&#10071;{% trans 'Новые услуги уже доступны!'%}</div></div>
                <div class="updates-aknowleadgment">{% trans 'Список самых нових услуг на'%} {{todays_data}}:</div>
                {% if newest_services|length and first_service|length == 1 %}
                    <div class="updates-announsment">{% trans 'За последнюю неделю мы добавили'%} {{newest_services|length|add:1}} {% trans 'услугу!'%}</div>
                {% elif newest_services|length and first_service|length <= 5 %}
                    <div class="updates-announsment">{% trans 'За последнюю неделю мы добавили'%} {{newest_services|length|add:1}} {% trans 'услуг!'%}</div>
                {% else %}
                    <div class="updates-announsment">{% trans 'За последнюю неделю мы добавили'%} {{newest_services|length|add:1}} {% trans 'услуг!'%}</div>
                {% endif %}
                <div class="updates-list">
                    <div class="updates-border">
                    {% for service in newest_services %}
                        {% if language_code == "ru" %}
                            <a class="new-service-link" href="{% url 'ServiceInfo' pk=service.pk %}"><span class="new-service">+{{service.name}}</span></a>
                        {% else %}
                            <a class="new-service-link" href="{% url 'ServiceInfo' pk=service.pk %}"><span class="new-service">+{{service.name_de}}</span></a>
                        {% endif %}
                    {% endfor %}
                    {% if language_code == "ru" %}
                        <a class="new-service-link" href="{% url 'ServiceInfo' pk=first_service.pk %}"><span class="new-service">+{{first_service.name}}</span></a>
                    {% else %}
                        <a class="new-service-link" href="{% url 'ServiceInfo' pk=first_service.pk %}"><span class="new-service">+{{first_service.name_de}}</span></a>
                    {% endif %}
                    </div>
                </div>
                <div class="ads-text"><span><a href="{% url 'Services' %}" class="new-service-link">{% trans 'Заходи, и запишись!'%}</a></span></div>
            </div>

            <!-- The part of the updates slider-->
            <div class="updates-slider">
                <div id="carouselExampleControls" class="carousel slide update-slider" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active update-carousel-item">
                            <img class="d-block w-100 main-image" src="{% static 'media/'|add_picture:first_service.photo %}" alt="First slide">
                            <div class="new-service-announsment">
                                <div class="text-about-service">{% trans 'Хочешь на'%} {{first_service.name}}? {% trans 'Тогда нажимай на кнопку ниже'%}</div>
                                <a href="{% url 'ServiceInfo' pk=first_service.pk %}"><button class="orange-button image-button">{% trans 'Детальнее' %}</button></a>
                            </div>
                        </div>
                        {% for service in newest_services %}
                        <div class="carousel-item update-carousel-item">
                            <img class="d-block w-100 main-image" src="{% static 'media/'|add_picture:service.photo %}" alt="First slide">
                            <div class="new-service-announsment">
                                <div class="text-about-service">{% trans 'Хочешь на'%} {{service.name}}? {% trans 'Тогда нажимай на кнопку ниже'%}</div>
                                <a href="{% url 'ServiceInfo' pk=service.pk %}"><button class="orange-button image-button">{% trans 'Детальнее' %}</button></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock content %}