{% extends 'main/account.html' %}
{% load i18n %}
{% block title %}
{% trans 'Сброс пароля'%}
{% endblock title %}
{% load static %}

{% block name_of_action %}
    <div class="info-text auth-text">{% trans 'Процедура смены пароля'%}</div>
{% endblock name_of_action %}

{% block auth_or_reg_form %}
{{form}}
<div class="agreement">
    <span>{% trans '*После подтверждения вы будете переведены на начальную страницу'%}</span>
</div>
<div class="login-button-parent">
    <button type="submit" class="orange-button login-button">{% trans 'Сменить пароль'%}</button>
</div>      
{% endblock auth_or_reg_form %}