{% extends 'main/account.html' %}

{% load static %}
{% load i18n %}
{% block title %}
{% trans 'Регестрация'%}
{% endblock title %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/reg12.css' %}">
<link rel="stylesheet" href="{% static 'css/account32.css'%}">
{% endblock link %}

<!-- A part of the name of action -->
{% block name_of_action %}
    <div class="info-text auth-text">{% trans 'Вы находитесь в разделе регистрации'%}</div>
{% endblock name_of_action %}

<!-- The main part of the form -->
{% block auth_or_reg_form %}
{{form.username}}
{{form.email}}
{{form.first_name}}
{{form.last_name}}
{{form.phone}}
{{form.password1}}
{{form.password2}}
<div class="agreement">
    <span>*Вводя все эти данные Вы соглашаетесь на дальнейшее их использование</span>
</div>
<div class="login-button-parent">
    <button type="submit" class="orange-button login-button">{% trans 'Зарегистрироваться'%}</button>
</div>
<div class="auth-social-media">
    <a href="{% url 'social:begin' 'facebook' %}"><img width="50em" src="{% static 'favicon/facebook.png' %}"></a>
    <a href="{% url "social:begin" "google-oauth2" %}"><img width="50em" src="{%static 'favicon/au-google.png' %}"></a>
</div>
{% endblock auth_or_reg_form %}

<!-- A part of the empty-message -->
{% block notification %}
<h2 class="big-text">{% trans 'Пройдите регистрацию!'%}</h2>
{% endblock notification %}
