{% extends 'layout/base.html' %}

{% load static %}

{% block title %}
Регестрация
{% endblock title %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/reg9.css' %}">
{% endblock link %}

{% block content %}
<div class="articles">
    <div class="regestration">
        <div class="reg-parent">
            <div class="social-reg">
                <div class="facebook"><a href="{% url 'social:begin' 'facebook' %}"><img style="width:3em;height:3em;max-width:100%" src="{% static 'favicon/facebook.png' %}"></a></div>
                <a href="{% url "social:begin" "google-oauth2" %}"><img style="width:12em;height:3em;max-width:100%" src="{% static 'favicon/google.png' %}"></a>
            </div>
            <div class="decorative-line"></div>
            <div class="simple-reg">
                <form id="reg-form" method="POST">
                    {% csrf_token %}
                    {{form.username}}
                    {{form.email}}
                    {{form.first_name}}
                    {{form.last_name}}
                    {{form.phone}}
                    {{form.password1}}
                    {{form.password2}}
                </form>
            </div>
        </div>
        <div class="reg-submit">
            <div class="main-button">
                <button type="submit" form="reg-form" class="custum-button" style="border:0">Зарегестрироваться</buttom>
            </div>
        </div>
    </div>    
</div>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0" nonce="zlbrkiY4"></script>

{% endblock content %}