{% extends 'main/account.html' %}

{% load static %}
{% load i18n %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/reset_password1.css' %}">
<link rel="stylesheet" href="{% static 'css/account32.css' %}">
{% endblock link %}

{% block title %}
{% trans 'Сброс пароля' %}
{% endblock title %}

{% block name_of_action %}
    <div class="info-text auth-text">{% trans 'Процес сброса пароля'%}</div>
{% endblock name_of_action %}

{% block auth_or_reg_form %}
{{form}}
<div class="agreement">
    <span>*После ввода E-mail Вам будет отослано письмо</span>
</div>
<div class="login-button-parent">
    <button type="submit" class="orange-button login-button">{% trans 'Сбросить пароль!'%}</button>
</div>
{% endblock auth_or_reg_form %}
