<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .main-text{margin-top:1em}
        .url{margin-top:1em}
    </style>
</head>
<body>
    <div>
        <div class="main-text">
            <span>Это письмо было отослано для подтверждения сброса пароля. Чтобы перейти на страничку с установкой нового пароля Вам необходимо нажать на ссылку ниже</span>
        </div>
        <div class="url">
            <span>{{protocol}}://{{domain}}{% url 'PassResetConfirm' uidb64=uid token=token %}</span>
        </div>
    </div>
</body>
</html>