{% extends "layout/base.html" %}

{% load static %}
{% load filterandtag%}

{% block title %}
Озтывы
{% endblock title %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/review29.css' %}">
{% endblock link %}

{% block content %}
<div class="articles">
	<div class="serv">
		<div class="review-form">
			<form method="POST">
				{% csrf_token %}
				<div class="textarea">
					{{form.review}}
				</div> 
				<div class="sub-form"> 
					<div class="mark-star">
						<div class="all-marks-photo">
							<input id="input1" type="hidden" name="mark" value="1" ><img onclick="iconone_click()" id="icon1" hidden="true" src="{% static 'review/icon.png' %}">
							<img onmouseover="iconone_over()" id="icon1_fail" src="{% static 'review/icon_fail.png' %}">
							<input id="input2" type="hidden" name="mark" value="2" ><img onclick="icontwo_click()" id="icon2" hidden="true" src="{% static 'review/icon.png' %}">
							<img onmouseover="icontwo_over()" id="icon2_fail" src="{% static 'review/icon_fail.png' %}">
							<input id="input3" type="hidden" name="mark" value="3" ><img onclick="iconthree_click()" id="icon3" hidden="true" src="{% static 'review/icon.png' %}">
							<img onmouseover="iconthree_over()" id="icon3_fail" src="{% static 'review/icon_fail.png' %}">
							<input id="input4" type="hidden" name="mark" value="4" ><img onclick="iconfour_click()" id="icon4" hidden="true" src="{% static 'review/icon.png' %}">
							<img onmouseover="iconfour_over()" id="icon4_fail" src="{% static 'review/icon_fail.png' %}">
							<input id="input5" type="hidden" name="mark" value="5" ><img  onclick="iconfive_click()" id="icon5" hidden="true" src="{% static 'review/icon.png' %}">
							<img onmouseover="iconfive_over()" id="icon5_fail" src="{% static 'review/icon_fail.png' %}">
						</div>
					</div>
					<div class="submit-button">
						<div>
							<button class="orange-button orange-button-margin" type="submit">Опубликовать</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="reviews">	
			{% for review in page_obj %}
				<div class="user-review">
					<div class="title">
						<div class="author">Автор отзыва: {{review.author}}</div>
						<div class="plus-image">
							
							{% if review.author|transform == user_is_author|transform %}
								<div class="drop">
								{% if review.mark >= 4%}
									<img style="width:1.5em;height:1.5em;margin-top:.4em" src="{% static 'favicon/icon-good.png' %}">
									<div class="drop-down">
										<a href="{% url 'DeleteReviews' pk=review.pk %}"><button type="button" class="red-button delete-review">Удалить отзыв</button></a>
									</div>
								{% elif review.mark == 3%}
								
									<img style="width:1.5em;height:1.5em;margin-top:.4em" src="{% static 'favicon/icon-normal.png' %}">
									<div class="drop-down">
										<a href="{% url 'DeleteReviews' pk=review.pk %}"><button type="button" class="red-button delete-review">Удалить отзыв</button></a>
									</div>
								{% else %}
								
									<img style="width:1.5em;height:1.5em;margin-top:.4em" src="{% static 'favicon/icons-bad.png' %}">
									<div class="drop-down">
										<a href="{% url 'DeleteReviews' pk=review.pk %}"><button type="button" class="red-button delete-review">Удалить отзыв</button></a>
									</div>
								{% endif %}
								</div>
							{% else %}
								{% if review.mark >= 4%}
									<img title="Вы не автор отзыва или не авторизированы" style="width:1.5em;height:1.5em;margin-top:.4em" src="{% static 'favicon/icon-good.png' %}">
								{% elif review.mark == 3 %}
									<img title="Вы не автор отзыва или не авторизированы" style="width:1.5em;height:1.5em;margin-top:.4em" src="{% static 'favicon/icon-good.png' %}">
								{% else %}
									<img title="Вы не автор отзыва или не авторизированы" style="width:1.5em;height:1.5em;margin-top:.4em" src="{% static 'favicon/icon-good.png' %}">
								{% endif %}
							{% endif %}
							
						</div>
					</div>
					<div class="author-parent">
						
					</div>
					<div class="review-text-parent">
						<div class="review-text">Отзыв: {{review.review}}</div>
					</div>
					<div class="review-parent">
	
						<div class="mark-review">Оценка роботы/обслуживания: {{review.mark}}</div>
					</div>
					
					
					
				</div>
			{% endfor %}
		</div>
		<div class="pagination-wrapper">
			{% if page_obj.has_previous %}
				<div class="previous">
					{% with prev=page_obj.previous_page_number %}
						<a class="prevandnext-buttons" href="{% url 'Reviews' page=prev %}">Назад</a>
					{% endwith %}
				</div>
			{% endif %}
			{% for page_num in page_obj.paginator.page_range %}
				{% if page_num < page_obj.number|add:4 and page_num > page_obj.number|add:0 %}
					<div class="numbers">
						<a class="prevandnext-buttons" href="{% url 'Reviews' page=page_num %}">{{page_num}}</a>
					</div>
				{% endif %}
			{% endfor %}
			{% if page_obj.has_next %}
				<div class="next">
					{% with next=page_obj.next_page_number %}
						<a class="prevandnext-buttons" href="{% url 'Reviews' page=next %}">Далее</a>
					{% endwith %}
				</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock content %}