{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}
{% load filterandtag %}
{% block title %}
{% trans 'Услуги'%}
{% endblock title %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/services9.css' %}">
{% endblock link %}

{% block content %}
<div class="articles">
    <div class="serv">

        <!-- Jumbotron -->
        <div class="jumbotron">
            <h1 class="display-4">{% trans 'Привет!'%}</h1>
            <p class="lead jumb-desc">{% trans 'Если Вы впервые в нашем массажном салоне,то Вам надо пройти регестрацию. Пройдя регестрацию Вы сможете: '%}<br/><br/> {% trans '1. Записаться на услугу.' %} <br/> {% trans '2. Оставлять отзывы.' %} <br/>{% trans '3. Подписаться на рассылку.'%}</p>
            <hr class="my-4">
            <p>{% trans 'Ну что,заинтересовало?! Перейти к регестрации Вы можете, нажав на кнопку ниже'%}</p>
            <p class="lead redirect-to-registrate">
                <a class="orange-button" href="{% url 'Reg' %}" role="button">{% trans 'Перейти к регистрации' %}</a>
            </p>
        </div>

        <!-- All the services -->
        <div class="services">
            {% for service1,service2 in services %}
            <div class="list-service">

                <!-- The first part of services -->
                <div class="card">
                    <img src="{% static 'media/'|add_picture:service1.photo %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        {% if language_code == "ru" %}
                            <h5 class="card-title">{{service1.name}}</h5>
                            <p class="card-text">{{service1.description}}</p>
                        {% else %}
                            <h5 class="card-title">{{service1.name_de}}</h5>
                            <p class="card-text">{{service1.description_de}}</p>
                        {% endif %}
                        <div class="custum-button-div">
                            <a href="{{ service1.get_absolute_url }}" class="orange-button bigger-button">{% trans 'Детальнее' %}</a>
                        </div>
                    </div>
                </div>
                {% if service2 is not None %}

                <!-- The second part of services -->
                <div class="card">
                    <img src="{% static 'media/'|add_picture:service2.photo %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        {% if language_code == "ru" %}
                            <h5 class="card-title">{{service2.name}}</h5>
                            <p class="card-text">{{service2.description}}</p>
                        {% else %}
                            <h5 class="card-title">{{service2.name_de}}</h5>
                            <p class="card-text">{{service2.description_de}}</p>
                        {% endif %}
                       <div class="custum-button-div">
                            <a href="{{ service2.get_absolute_url }}" class="orange-button bigger-button">{% trans 'Детальнее' %}</a>
                        </div>
                    </div>
                </div>
                {% else %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}